/*^  Variables */

:root {
    --bg-nav: #2c3e50;
    --bg-primary: #1abc9c;
    --color-white: #fff;
    --border-color: #2c3e50;
}


/* ----------------------    General    ------------------ */

.section-head {
    color: #2c3e50;
}
.section-head h2{
    font-weight: 700;
}

.bg-main {
    background-color: var(--bg-nav);
    color: var(--color-white)
}

.star-icon {
    position: relative;
}

.star-icon::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    width: 80px;
    border: 2px solid;
}

.star-icon::before {
    content: '';
    position: absolute;
    top: 40%;
    right: 100%;
    width: 80px;
    border: 2px solid;
}

/* ----------------------    Layout    ------------------ */
.layout {
    min-height: 85vh;
}

/* ----------------------    Navbar    ------------------ */

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white)
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
}
/* ----------------------    Footer    ------------------ */
.icons .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    padding-block: 10px;
    padding-inline: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------    About    ------------------ */
.about-section{
    min-height: inherit;
    background-color: var(--bg-primary);
    color: var(--color-white);
}

/* ----------------------    Contact    ------------------ */
.contact-section,.portfolio-section {
    height: 100%;
    background-color: var(--color-white);
    color: var(--bg-primary);
}


.form-control:focus {
    box-shadow: none;
}

.btn-success {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}
/* ----------------------    Portfolio    ------------------ */
.img-wrapper .overlay {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.img-wrapper:hover .overlay{
    opacity: 1;
    background-color: rgba(26, 188, 156, 0.8);
}

.img-popup{
    z-index: 999;
    min-height: 100vh;
}

