/*^  Variables */

:root {
    --bg-nav: #2c3e50;
    --bg-primary: #1abc9c;
    --color-white: #fff;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --animation-duration: 400ms;
}

.bg-main {
    background-color: var(--bg-nav);
    color: var(--color-white)
}

.nav-link {
    font-weight: bold;
    color: var(--color-white)
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    background-color: var(--bg-primary);
    border-radius: 0.5rem;
}


.main-color {
    background-color: var(--bg-primary);
}

.layout {
    min-height: 85vh;
}

.icons .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    padding-block: 10px;
    padding-inline: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section{
    min-height: inherit;
    background-color: var(--bg-primary);
    color: var(--color-white);
}

.contact-section,.portfolio-section {
    height: 100%;
    background-color: var(--color-white);
    color: var(--bg-primary);
}


.form-control:focus {
    box-shadow: none;
}

.img-wrapper .overlay {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.img-wrapper:hover .overlay{
    opacity: 1;
    background-color: rgba(26, 188, 156, 0.8);
}

.img-popup{
    z-index: 999;
    min-height: 100vh;
}
